th.drag-before {
  border-left: 3px solid darkblue !important;
}
th.drag-after {
  border-right: 3px solid darkblue !important;
}
tr.drag-before {
  border-top: 3px solid darkblue !important;
}
tr.drag-after {
  border-bottom: 3px solid darkblue !important;
}
.drag-horizontal .drag-before,
.drag-horizontal .drag-before-horizontal {
  border-left: 3px solid darkblue !important;
}
.drag-horizontal .drag-after,
.drag-horizontal .drag-after-horizontal {
  border-right: 3px solid darkblue !important;
}
.drag-vertical .drag-before,
.drag-vertical .drag-before-vertical {
  border-top: 3px solid darkblue !important;
}
.drag-vertical .drag-after,
.drag-vertical .drag-after-vertical {
  border-bottom: 3px solid darkblue !important;
}
div.dragorder-context [draggable] label,
div.dragorder-context [draggable] .move {
  cursor: move;
}
div.dragorder-context [draggable] .move-vertical {
  cursor: ns-resize;
}
div.dragorder-context [draggable] .move-horizontal {
  cursor: ew-resize;
}
div.dragorder-context.drag-vertical [draggable] label,
div.dragorder-context.drag-vertical [draggable] .move,
div.dragorder-context.drag-vertical [draggable] .move-vertical {
  cursor: ns-resize;
}
div.dragorder-context.drag-horizontal [draggable] label,
div.dragorder-context.drag-horizontal [draggable] .move,
div.dragorder-context.drag-horizontal [draggable] .move-horizontal {
  cursor: ew-resize;
}
div.wait-curtain {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 11;
  opacity: 0.8;
  background-color: #666;
}
div.wait-curtain h1 {
  margin: auto;
  margin-top: 30%;
  z-index: 12;
  opacity: 1;
  color: #fff;
  background-color: #666;
  text-align: center;
}
/*# sourceMappingURL=dragorder.css.map */