th.drag-before {
	border-left: 3px solid darkblue !important;
}
th.drag-after {
	border-right: 3px solid darkblue !important;
}
tr.drag-before {
	border-top: 3px solid darkblue !important;
}
tr.drag-after {
	border-bottom: 3px solid darkblue !important;
}
.drag-horizontal {
	.drag-before, .drag-before-horizontal {
		border-left: 3px solid darkblue !important;
	}
	.drag-after, .drag-after-horizontal {
		border-right: 3px solid darkblue !important;
	}
}
.drag-vertical {
	.drag-before, .drag-before-vertical {
		border-top: 3px solid darkblue !important;
	}
	.drag-after, .drag-after-vertical {
		border-bottom: 3px solid darkblue !important;
	}
}

div.dragorder-context [draggable] {
	label, .move {
		cursor: move;
	}
	.move-vertical {
		cursor: ns-resize;
	}
	.move-horizontal {
		cursor: ew-resize;
	}
}

div.dragorder-context.drag-vertical [draggable] {
	label, .move, .move-vertical {
		cursor: ns-resize;
	}
}

div.dragorder-context.drag-horizontal [draggable] {
	label, .move, .move-horizontal {
		cursor: ew-resize;
	}
}

div.wait-curtain {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 11;
	opacity: 0.8;
	background-color: #666;
	h1 {
		margin: auto;
		margin-top: 30%;
		z-index: 12;
		opacity: 1;
		color: #fff;
		background-color: #666;
		text-align: center;
	}
}


